# News data insights

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
csv_files=[r"C:\Users\nikhi\Downloads\News-Article-Topic-Classifier-API\train.csv",r"C:\Users\nikhi\Downloads\News-Article-Topic-Classifier-API\test.csv"]
df_list=[pd.read_csv(file) for file in csv_files]
combined_csv=pd.concat(df_list,ignore_index=True)
combined_csv.to_csv("combined_csv_news",index=False)

In [4]:
df=pd.read_csv("combined_csv_news")
df.head()

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [ ]:
df.info()
#Consists of class ids 1-4 where 1-World, 2-Sports, 3-Business, 4-Sci/Tech

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127600 entries, 0 to 127599
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Class Index  127600 non-null  int64
 1   Title        127600 non-null  object
 2   Description  127600 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [40]:
df['Class Index'].value_counts()

Class Index
3    31900
4    31900
2    31900
1    31900
Name: count, dtype: int64

In [ ]:
plt.figure(figsize=(8,6))
sns.countplot(x='Class Index', data=df) 
plt.show()